@import "../../../node_modules/normalize.css";
@import "../variables.scss";

body {
  max-width: $max-content-width;
  padding: 56px 40px 0 40px;
  margin: auto;
  font-family: $font-family-base;
  background-color: #f7fafc;
}
