@media screen and (min-width: 1024px) {
  .left-bg {
    float: left;
    width: 75%;
  }
  .right-sm {
    margin-left: 76%;
  }
  .left {
    float: left;
    width: 75%;
  }
  .right {
    margin-left: 76%;
  }
}
@media screen and (max-width: 1023px) {
  .left, .right, .left-bg, .right-sm {
    display: inline;
  }
}

.paper {
  padding: 20px 40px 40px 30px;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

.board {
  position: absolute;
  width: 100%;
  left: 0;
  overflow: scroll;
}
