.list { }

.row {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  vertical-align: middle;
}

.header-col {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.cid-col {
  width: 12%;
}

.title-col {
  width: 38%;
  padding-right: 12px;
}

.start-col {
  width: 30%;
}
.duration-col {
  width: 20%;
}

.header {
  cursor: pointer;
}

.solved {
  background-color: rgba(212, 237, 201, 0.55);
}

.tried {
  background-color: rgba(221, 238, 255, 0.55);
}
