.list { }

.header-col {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.pid-col {
  display: inline-block;
  width: 15%;
}

.title-col {
  display: inline-block;
  width: 50%;
}

.ratio-col {
  display: inline-block;
  width: 15%;
}
.accepted-col {
  display: inline-block;
  width: 10%;
}
.submit-col {
  display: inline-block;
  width: 10%;
}

.header {
  cursor: pointer;
}

.solved {
  background-color: rgba(212, 237, 201, 0.55);
}

.tried {
  background-color: rgba(221, 238, 255, 0.55);
}
