.header-col {
  font-weight: 500;
  font-size: 15px;
  color: black;
}

.id-col {
  display: inline-block;
  width: 15%;
}

.title-col {
  display: inline-block;
  width: 55%;
}

.problem {
  display: inline-block;
  width: 80%;
}

.ratio-col {
  display: inline-block;
  width: 30%;
}

.solved {
  background-color: #d4edc9;
}
