.row {
  text-align: center;
  display:table;
  width: 100%;
}

.col {
  display:table-cell;
  vertical-align:middle;
}

.id, .language, .problem {
  width: 10%;
}

.time, .memory, .length {
  width: 9%;
}

.username, .result {
  width: 15%;
}

.date {
  width: 13%;
}
