.row {
  display: table;
  width: 100%;
  text-align: center;
}

.col {
  display: table-cell;
  vertical-align: middle;
}

.normal {
  .time, .memory, .length, .id, .language, .problem, .username {
    width: 10%;
  }

  .result, .date {
    width: 15%;
  }
}

.without-pid {
  .username {
    width: 20%;
  }
  .result, .date, .time, .memory, .length, .language {
    width: 12%;
  }
  .id {
    width: 8%;
  }
}

.code {
  position: relative;
  padding: 0 10px 10px 10px;
  overflow: hidden;
}

.code-enter {
  max-height: 0;
}
.code-enter-active {
  max-height: 600px;
  transition: max-height 500ms;
}
.code-leave {
  max-height: 600px;
}
.code-leave-active {
  max-height: 0;
  transition: max-height 500ms;
}

.copy {
  position: absolute;
  right: 10px;
  z-index: 5;
}

$status-font: "source_sans", "Lucida Grande", "Lucida Sans", sans-serif;

.status-accepted {
  font-family: $status-font;
  font-weight: 600;
  color: green;
}

.status-other {
  font-family: $status-font;
  color: red;
}

.status-compile-error {
  font-family: $status-font;
  color: blue;
}
