.row {
  text-align: center;
}

.id-col {
  display: inline-block;
  width: 10%;
}

.problem-col {
  display: inline-block;
  width: 15%;
}

.user-col {
  display: inline-block;
  width: 15%;
}

.result-col {
  display: inline-block;
  width: 20%;
}

.language-col {
  display: inline-block;
  width: 10%;
}
.date-col {
  display: inline-block;
  width: 30%;
}
