$height: 48px;

.header {
  position: fixed;
  height: $height;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.container {
  max-width: 1280px;
  margin: auto;
  height: $height;
}
.title {
  position: relative;
  top: 9px;
  float: left;
  margin-left: 20px;
  height: $height;
  color: black;
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
}
.left {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 360px;
}
.right {
  float: right;
  margin-right: 20px;
}
.button {
  height: $height;
  font-size: 14px;
  font-weight: 500;
}
