.solved {
  background-color: #2E7D32;
  color: white;
}

.tried {
  background-color: #F44336;
  color: white;
}

.first {
  background-color: #43CD80;
  color: white;
}

.board {
  min-width: 100%;
  text-align: center;
  border-collapse: collapse;
  th {
    padding: 8px 0 8px 0;
  }
  td {
    border: 1px solid #E0E0E0;
    padding: 4px;
    min-width: 27px;
    white-space: nowrap;
  }
}
