.board {
  min-width: 100%;
  text-align: center;
  border-collapse: collapse;
  th {
    padding: 8px 0 8px 0;
  }
  td {
    min-width: 27px;
    padding: 4px;
    white-space: nowrap;
    border: 1px solid #e0e0e0;
  }
}
