.title {
  text-align: center;
}

.center {
  margin-left: 10px;
  margin-right: 10px;
}

.actions {
  padding-top: 40px;
  text-align: center;
}

.sample {
  padding-left: 10px;
  margin-bottom: 40px;
}

.pre {
  padding: 8px;
  margin: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
