<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="NJU Online Judge" />
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/robot-fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/toastr.min.css">
  <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
  <link rel='stylesheet' type="text/css" href='/css/nprogress.css'/>
  <link rel='stylesheet' type="text/css" href='/css/katex.min.css'/>
  <style id="css">
  </style>
</head>
<body>
<div id="app"></div>
<script src="<%=entry%>"></script>
</body>
</html>
