.form {
}

.paper {
  padding: 1px 20px 40px 20px;
  margin-top: 1em;
}

.action {
  float: right;
  padding-top: 20px;
}

.sample, .problem {
  overflow: hidden;
}

.sample-enter, .problem-enter {
  max-height: 0;
}
.sample-enter-active {
  max-height: 200px;
  transition: max-height 500ms;
}
.sample-leave {
  max-height: 200px;
}
.problem-enter-active {
  max-height: 72px;
  transition: max-height 500ms;
}
.problem-leave {
  max-height: 72px;
}
.sample-leave-active, .problem-leave-active {
  max-height: 0;
  transition: max-height 500ms;
}
